{% extends "base.html" %}

{% block header %}
    {% include "competition/main_menu.html" %}
{% endblock %}

{% block main-content %}
    <h2>Evaluation of {{ solution }} to problem #{{ solution.problem.id }}.</h2>

    <h3>Problem description:</h3>
    <p>{{ solution.problem.description }}</p>

    <h3>Solution details:</h3>

    <div>
        <div id="left">
            <label><b>Source code:</b></label>
            <pre>
                {{ solution.source_code }}
            </pre>

        </div>
        <p>Chosen programming language: {{ solution.get_language_display }}</p>
        <p>Compile result: {{ solution.get_computer_result_display }}</p>
        <p>Error messages:
            {% if solution.error_message %}
                <pre>solution.error_message</pre>
            {% else %}
                No errors during compile process.
            {% endif %}
        </p>
        <table class="solution-compare">
            <thead >
                <tr>
                    <th>Output</th>
                    <th>Expected output</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <pre>{{ solution.output }}</pre>
                    </th>
                    <th>
                        <pre>{{ solution.problem.output }}</pre>
                    </th>
                </tr>

            </tbody>
        </table>
    </div>

    <form action="" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}


