{% extends "base.html" %}

{% block title %}Evaluation - {{ submission }}{% endblock %}

{% block header %}
    {% include "competition/main_menu.html" %}
{% endblock %}

{% block main-content %}
    <table>
        <caption>{{ submission }}</caption>
        <tr>
            <td>
                Participant:
            </td>
            <td>
                {{ submission.participant }}
            </td>
        </tr>
        <tr>
            <td>
                Problem:
            </td>
            <td>
                {{ submission.problem }}
            </td>
        </tr>
        <tr>
            <td>
                Programming language:
            </td>
            <td>
                {{ submission.get_language_display }}
            </td>
        </tr>
        <tr>
            <td>
                Submitted:
            </td>
            <td>
                {{ submission.submit_time }}
            </td>
        </tr>
        <tr>
            <td>
                Max runtime:
            </td>
            <td>
                {{ submission.problem.time_limit }} sec
            </td>
        </tr>
    </table>

    <div>
        <h2>Evaluation</h2>

        <form>
            {{ form.as_table }}
            <input type="submit">
        </form>
    </div>

    <div>
        <h2>Review</h2>
        <table width="100%">
            <caption>Source code:</caption>
            <tr>
                <td>
                    <pre>
                        {{ submission.source_code|linenumbers }}
                    </pre>
                </td>
            </tr>
        </table>

        <table width="100%">
            <caption>Error messages:</caption>
            <tr>
                <td>
                    <pre>
                        {{ submission.error_message }}
                    </pre>
                </td>
            </tr>
        </table>

        <table width="100%">
            <thead>
                <tr>
                    <th>
                        Expected output
                    </th>
                    <th>
                        Real output
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <pre>
                            {{ submission.problem.output }}
                        </pre>
                    </td>
                    <td>
                        {% if submission.output %}
                        <pre>
                            {{ submission.output }}
                        </pre>
                        {% else %}
                        No output
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}


