{% extends "competition/index.html" %}

{% block main-content %}
    {% if problems %}
        <table class="list">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for problem in problems %}
                {% if forloop.counter|divisibleby:"2" %}
                <tr class="roweven">
                {% else %}
                <tr>
                {% endif %}
                    <td>
                        <a href="{{ problem.get_absolute_url }}">
                            {{ problem.id }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ problem.get_absolute_url }}">
                            {{ problem.title }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No submissions</p>
    {% endif %}
{% endblock %}