{% extends "competition/index.html" %}

{% block main-content %}
    {% if submissions %}
        <table class="list" width="100%">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Participant
                    </th>
                    <th>
                        Language
                    </th>
                    <th>
                        Result
                    </th>
                    <th>
                        Verified
                    </th>
                    <th>
                        Ignored
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for submission in submissions %}
                {% if forloop.counter|divisibleby:"2" %}
                <tr class="roweven">
                {% else %}
                <tr>
                {% endif %}
                    <td>
                        <a href="{% url competition.views.judge_submission_evaluate submission.id %}">
                            {{ submission.id }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url competition.views.judge_submission_evaluate submission.id %}">
                            {{ submission.submit_time|time:"H:i:s" }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url competition.views.judge_submission_evaluate submission.id %}">
                            {{ submission.participant }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url competition.views.judge_submission_evaluate submission.id %}">
                            {{ submission.get_language_display }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url competition.views.judge_submission_evaluate submission.id %}">
                            {{ submission.get_result_display }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url competition.views.judge_submission_evaluate submission.id %}">
                            {{ submission.verified }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url competition.views.judge_submission_evaluate submission.id %}">
                            {{ submission.ignored }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No submissions</p>
    {% endif %}
{% endblock %}