{% extends "base.html" %}

{% block title %}Problem set{% endblock %}

{% block header %}
    {% include "competition/main_menu.html" %}
{% endblock %}

{% block main-content %}
    <h1>Problem set for {{ competition.title }}</h1>
    {% if problems %}
    <ul>
        {% for problem in problems %}
        <li>
            <a href="{{ problem.get_absolute_url }}">{{ problem.title }}</a> |
            <a href="{% url competition.views.upload_submission problem.id %}">Submit solution</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
