{% extends "base.html" %}

{% block title %}Problem set{% endblock %}

{% block header %}
    {% include "competition/main_menu.html" %}
{% endblock %}

{% block main-content %}
    <h1>Problem set for {{ competition.title }}</h1>
    {% if problems %}
    <table class="list">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Title
                </th>
            </tr>
        </thead>
        <tbody>
        {% for problem in problems %}
            <tr>
                <td>
                    <a href="{{ problem.get_absolute_url }}">{{ problem.id }}</a>
                </td>
                <td>
                    <a href="{{ problem.get_absolute_url }}">{{ problem.title }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>There are no problems available at the moment.</p>
    {% endif %}

{% endblock %}
