{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Index" %}{% endblock %}

{% block header %}
    {% include "competition/main_menu.html" %}
{% endblock %}

{% block main-content %}
    {% if user.participant %}
        {% include "competition/participant/index.html" %}
    {% endif %}

    {% if user.judge %}
        {% include "competition/judge/index.html" %}
    {% endif %}

    {% if user.organizer %}
        {% include "competition/organizer/index.html" %}
    {% endif %}

    {# There will be only a competition list object if there is no user authenticated. #}
    {% if competitions %}
    <h1>{% trans "Active competitions" %}</h1>
    <ul>
        {% for competition in competitions %}
        <li>
            <a href="{{ competition.get_absolute_url }}">
                {{ competition.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

