<header>
    <nav id="main-menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
                {% if user.participant %}
                    <li>
                        <a href="{{ user.participant.competition.problems }}">
                            Problems
                        </a>
                    </li>
                    <li>
                        <a href="/participant/submissions">
                            My Submissions
                        </a>
                    </li>
                    <li>
                        <a href="/competition/rankings">
                            Rankings
                        </a>
                    </li>
                {% endif %}
                {% if user.judge %}
                    <li>
                        <a href="{{ user.judge.competition.solutions }}">
                            Solutions
                        </a>
                    </li>
                    <li>
                        <a href="/competition/rankings">
                            Rankings
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            <li class="right">
                {% if user.is_authenticated %}
                    Welcome {{ user.username }}.
                {% else %}
                    <a href="/login">
                        Login
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>

