{% load i18n %}

<table width="100%" class="list">
    <caption>
        {% trans "Submissions" %}
    </caption>
    <thead>
        <th>
            {% trans "Time" %}
        </th>
        {% if user.judge %}
            <th>
                {% trans "Participant" %}
            </th>
        {% endif %}
        <th>
            {% trans "Problem" %}
        </th>
        <th>
            {% trans "Language" %}
        </th>
        <th>
            {% trans "Result" %}
        </th>
        <th>
            {% trans "Verified" %}
        </th>
    </thead>
    <tbody>
    {% if not submissions %}
        <tr>
            <td colspan="5">
                {% trans "There are no submissions, yet" %}
            </td>
        </tr>
    {% endif %}

    {% for submission in submissions %}
        {% if forloop.counter|divisibleby:"2" %}
        <tr class="roweven">
        {% else %}
        <tr>
        {% endif %}
            <td>
                <a href="{{ submission.get_absolute_url }}">
                {{ submission.submit_time|time:"H:i" }}
                </a>
            </td>
            {% if user.judge %}
                <td>
                    <a href="{{ submission.get_absolute_url }}">
                        {{ submission.participant }}
                    </a>
                </td>
            {% endif %}
            <td>
                <a href="{{ submission.get_absolute_url }}">
                {{ submission.problem }}
                </a>
            </td>
            <td>
                <a href="{{ submission.get_absolute_url }}">
                {{ submission.get_language_display }}
                </a>
            </td>
            <td>
                <a href="{{ submission.get_absolute_url }}">
                {{ submission.get_result_display }}
                </a>
            </td>
            <td>
                <a href="{{ submission.get_absolute_url }}">
                {{ submission.verified }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
