{% if submissions %}
<table class="list">
    <caption>Submissions</caption>
    <thead>
        <th>
            Time
        </th>
        <th>
            Problem
        </th>
        <th>
            Language
        </th>
        <th>
            Result
        </th>
        <th>
            Verified
        </th>
    </thead>
    <tbody>
    {% for submission in submissions %}
        {% if forloop.counter|divisibleby:"2" %}
        <tr class="roweven">
        {% else %}
        <tr>
        {% endif %}
            <td>
                <a href="{{ submission.get_absolute_url }}">
                {{ submission.submit_time|time:"H:i" }}
                </a>
            </td>
            <td>
                <a href="{{ submission.get_absolute_url }}">
                {{ submission.problem }}
                </a>
            </td>
            <td>
                <a href="{{ submission.get_absolute_url }}">
                {{ submission.get_language_display }}
                </a>
            </td>
            <td>
                <a href="{{ submission.get_absolute_url }}">
                {{ submission.get_result_display }}
                </a>
            </td>
            <td>
                <a href="{{ submission.get_absolute_url }}">
                {{ submission.verified }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No submissions</p>
{% endif %}
