{% extends "base.html" %}

{% block header %}
    {% include "competition/main_menu.html" %}
{% endblock %}

{% block main-content %}
    <h1>{{ problem.title }}</h1>
    <p>{{ problem.description }}</p>

    <table width="100%" class="list">
        <thead>
            <th>
                Input
            </th>
            <th>
                Output
            </th>
        </thead>
        <tbody>
            <tr>
                <td >
                    {% if problem.input %}
                    <pre>
                        {{ problem.input }}
                    </pre>
                    {% else %}
                    <p>
                        N/A
                    </p>
                    {% endif %}
                </td>
                <td>
                    {% if problem.output %}
                    <pre>
                        {{ problem.output }}
                    </pre>
                    {% else %}
                    <p>
                        N/A
                    </p>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if form %}
        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    {% endif %}

    {% if submissions %}
        <table width="100%" class="list">
            <caption>Your submissions</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for submission in submissions %}
                    <td>
                        {{ submission.id }}
                    </td>
                    <td>
                        {{ submission.get_result_display }}
                    </td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
